* {
	-webkit-user-select: none;
	-moz-user-select:    none;
	-ms-user-select:     none;
	-o-user-select:      none;
	user-select:         none;
}

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	-ms-box-sizing:     border-box;
	-o-box-sizing:      border-box;
	box-sizing:         border-box;
}

*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing:    inherit;
	-ms-box-sizing:     inherit;
	-o-box-sizing:      inherit;
	box-sizing:         inherit;
}

body {
	overflow-x:       hidden;
	margin:           0;
	padding:          0;
	background-color: #333;
	font-family:      'Courier New', Courier,sans-serif;
	font-size:        14px;
	line-height:      18px;
	color:            #ddd;
}

a {
	color:           #95ba00;
	text-decoration: none;
}